<div id="pins" class="transitions-enabled">
		<% @pins.each do |pin| %>
			<div class="box panel panel-default">
					<%= link_to image_tag(pin.image.url), pin %>
					<div class="panel-body">
					<strong><%= pin.user.email if pin.user %></strong></br>
		        	<i><%= pin.description %></i>
					
						<% if pin.user == current_user %> 
						
						<p>
						<div class="actions">
		        		<%= link_to raw('<span class="glyphicon glyphicon-share-alt"></span> Edit'), edit_pin_path(pin) %> | 
		        		<%= link_to raw('<span class="glyphicon glyphicon-trash"></span> Destroy'), pin, method: :delete, data: { confirm: 'Are you sure?' } %>
						</div>
						</p>
					<% end %>
				</div>
			</div>
	    <% end %>
</div>
<div class="center">
	<%= will_paginate @collection, renderer: BootstrapPagination::Rails %>
</div>